.basicLayout {
  height: calc(100vh - 96px);
  width: 100vw;

  .sider {
    border-inline-end: 1px solid rgb(255 255 255 / 10%);

    .siderHeader {
      &:extend(.drag);

      padding: 12px 12px 24px;
    }
  }

  .sysFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: @layout-footer-height;
    border-top: 1px solid rgb(255 255 255 / 10%);
    background: @black-bg;
  }
}
