{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-class-pattern": null,
    "property-no-vendor-prefix": null,
    "function-no-unknown": null,
    "import-notation": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "block-no-empty": true,
    "color-hex-length": "short",
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["extends", "tailwind", "plugin", "source", "custom-variant"]
      }
    ]
  }
}
