{
  "extends": "stylelint-config-standard",
  "overrides": [
    {
      "files": [
        "*.less",
        "**/*.less"
      ],
      "customSyntax": "postcss-less"
    }
  ],
  "rules": {
    "selector-class-pattern": null,
    "property-no-vendor-prefix": null,
    "function-no-unknown": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ]
  }
}