// 无边框拖拽
.drag {
  -webkit-app-region: drag;
  user-select: none;
}

.noDrag {
  -webkit-app-region: no-drag;
}

@base-color: #1fdf64;
@text-color: #ffffff;
@sider-bg: #000000;
@black-bg: #121212;
@gradient-bg: linear-gradient(180deg, #393939 0%, #191414 100%);
@playbar-height: 68px;

// link button 取消 padding
.ant-btn-link {
  padding: 0;
}
