@import 'tailwindcss';

@plugin './hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
}

@utility window-drag {
  app-region: drag;
}

@utility window-no-drag {
  app-region: no-drag;
}

@utility keyword {
  color: #17C964;
  font-style: normal;
}

.os-scrollbar {
  --os-size: 12px;
  --os-handle-border-radius: 4px;
}
