@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .window-drag {
    app-region: drag;
  }

  .window-no-drag {
    app-region: no-drag;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}
